body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #7fa3c7;
  font-family:  Helvetica;
}

.card {
  width: 100%;
  max-width: 420px;

  padding: 50px;
  padding-top: 120px;

  margin: 16px;

  background: #ebebeb;
  border-radius: 45px;

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

form {

  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 0;
  
}

label {

  font-size: 14px;
  color: #333;

}

input {
  height: 44px;
  padding: 0 16px;

  border: none;
  border-radius: 999px;

  background: white;
  font-size: 14px;

  outline: none;
}

input:focus {

  box-shadow: 0 0 0 2px #7fa3c7;
  transition: 0.3s;
}

button {
  margin-top: 16px;
  height: 48px;

  border: none;
  border-radius: 999px;

  background: #7fa3c7;
  color: white;
  font-size: 16px;
  font-weight: 500;

  cursor: pointer;

  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;

  position: relative;
  overflow: hidden;
}

button:hover {

  background: #6b92bb;
  transform: translateY(-2px);
  box-shadow: 0 3px 1px rgba(37, 43, 54, 0.2);
}

button:active {

  transform: translateY(0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;

  width: 25%;
  height: 100%;

  background: linear-gradient(
    90deg,
    transparent 0%,
    #90b8e0 50%,
    transparent 100%
  );

  transform: skewX(-20deg);
  animation: shine 2.5s infinite;
}




button:hover::before {
  left: 100%;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}


.card h2,
.card .subtitle {
  text-align: center;
}

.header {
  margin-top: -100px;
}

.header h2 {
  margin-bottom: 5px;
}

.header .subtitle {
  margin-top: 0;
  color: #b6b6b6;
}

.links {
  margin-top: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.links a {
  font-size: 14px;
  color: #141414;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.divider {
  width: 1px;
  height: 14px;
  background: #ccc;
}

button {
  position: relative;
  overflow: hidden;
}

button span {
  position: relative;
  z-index: 2;
}

@keyframes shine {
  0% {
    left: -40%;
  }
  100% {
    left: 140%;
  }
}

